*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#container {
    text-align: center;
    margin: 10px auto 10px;
}

.image_container_item {
    width: 96%;
    padding: 15px 20px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px #ddd;
}

.image_container_item img {
    margin-bottom: 15px;
    border-radius: 5px;
}

.image_container_item p {
    font-size:  25px;
    font-weight: bold;
}