*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background: rgba(40, 211, 235, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(40, 211, 235, 0.3);
  border-radius: 20px;
  padding: 25px 15px;
  width: 85%;
  text-align: center;
}
#container h4 {
  background-color: #262626;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
}
#container p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #262626;
}
#container button {
  display: block;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px auto 0;
  cursor: pointer;
}
